git+https://github.com/deepmind/einshape
jax==0.4.13
https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.13+cuda11.cudnn86-cp310-cp310-manylinux2014_x86_64.whl
flax==0.7.1
jaxline==0.0.5
ml_collections 
opencv-python==4.7.0.68
optax==0.1.4
chex==0.1.82
dm-haiku==0.0.10
dm-tree==0.1.8
typing_extensions==4.7.1
lpips
evo
# # The following combination also works. Feel free to choose it if it fits your CUDA version.
# jax==0.4.7
# https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.7+cuda11.cudnn82-cp310-cp310-manylinux2014_x86_64.whl
# flax==0.5.1